body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 196, 239);
    text-align: center;
}

.book-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cover-image-libro1,
.cover-image-libro2 {
    max-width: 10%;
    max-height: 10%;
    object-fit: cover;
    object-position: center;
}

.book-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.book-info label,
.book-info span {
    margin-bottom: 5px;
}

.subtotal {
    margin-top: 5px;
    font-weight: bold;
}

.book-name {
    font-weight: bold;
    margin-left: 20px;
}

.total-container {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 10px ;
    background-color: whitesmoke;
    padding: 20px;
}

/* Estilos para los botones de suma y resta */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}


